.acercaDe{
    padding: 30px;
    transition: .3s;
    cursor: pointer;
    background-image: url('../imagenes/AcercaDeFondo.jpg');
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton-acercaDe{
    margin: 0;
    width: 100%;
    border: none;
    cursor: pointer;
}
.boton-acercaDe:focus{
    border: none;
}
.acercaDe .titulo-acercaDe{
    text-align: center;
    padding: 30px;
    font-size: 25px;
    font-family: 'OpenSans-SemiBold';
    color: #303030;
}
.acercaDe h2{
    border-bottom: 2px solid #616161;
}
.acercaDe .descripcion-acercaDe{
    text-align: center;
    color:#616161;
    width: 70%;
    padding-bottom: 33px;
    text-align: center;
    font-size: 25px;
    font-family: 'OpenSans-Italic';
}

/*Modo Oscuro*/
.acercaDeModoOscuro{
    transition: 1s;
    cursor: pointer;
    background: url('../imagenes/AcercaDeFondoOscuro.jpg');
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acercaDeModoOscuro .titulo-acercaDe{
    padding: 30px;
    font-size: 25px;
    font-family: 'OpenSans-SemiBold';
    color: #eeeeee;
}
.acercaDeModoOscuro h2{
    border-bottom: 2px solid #eeeeee;
}
.acercaDeModoOscuro .descripcion-acercaDe{
    color:#eeeeee;
    width: 70%;
    padding-bottom: 33px;
    text-align: center;
    font-size: 25px;
    font-family: 'OpenSans-Italic';
}
.modoNoche{
    font-size: 15px;
}
/*Media Query*/
@media screen and (max-width:800px){
    .modoNoche{
        font-size: 15px;
    }
    .acercaDe{
        padding: 30px;
        background-image: url('../imagenes/AcercaDeFondo.jpg');
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .acercaDe .titulo-acercaDe{
        text-align: center;
        padding: 15px;
        font-size: 15px;
        font-family: 'OpenSans-SemiBold';
        color: #303030;
    }
    .acercaDe h2{
        border-bottom: 2px solid #616161;
    }
    .acercaDe .descripcion-acercaDe{
        text-align: center;
        color:#616161;
        width: 100%;
        padding-bottom: 15px;
        text-align: center;
        font-size: 18px;
        font-family: 'OpenSans-Italic';
    }
    
    /*Modo Oscuro*/
    .acercaDeModoOscuro{
        background: url('../imagenes/AcercaDeFondoOscuro.jpg');
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .acercaDeModoOscuro .titulo-acercaDe{
        padding: 15px;
        font-size: 15px;
        font-family: 'OpenSans-SemiBold';
        color: #eeeeee;
    }
    .acercaDeModoOscuro h2{
        border-bottom: 2px solid #eeeeee;
    }
    .acercaDeModoOscuro .descripcion-acercaDe{
        color:#eeeeee;
        width: 100%;
        padding-bottom: 15px;
        text-align: center;
        font-size: 18px;
        font-family: 'OpenSans-Italic';
    }

}