@font-face{
    font-family: OpenSans-Bold;
    src: url('../fuentes/OpenSans-Bold.ttf');
}
@font-face{
    font-family: OpenSans-BoldItalic;
    src: url('../fuentes/OpenSans-BoldItalic.ttf');
}
@font-face{
    font-family: OpenSans-Italic;
    src: url('../fuentes/OpenSans-Italic.ttf');
}
@font-face{
    font-family: OpenSans-Regular;
    src: url('../fuentes/OpenSans-Regular.ttf');
}
@font-face{
    font-family: OpenSans-SemiBold;
    src: url('../fuentes/OpenSans-SemiBold.ttf');
}
@font-face{
    font-family: 'OpenSans-SemiBoldItalic';
    src: url('../fuentes/OpenSans-SemiBoldItalic.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -mz-webkit-box-sizing:border-box;
}
.contenedor{
    background: red;
    width: 100%;
    margin: auto;
    overflow: hidden;
}