*{
    margin: 0;
    padding: 0;
    -mz-webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans",'Arial','Sans-serif';
    font-size: 16px;
}
.contenedor{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}
.main{
    background: url('../img/bg-textura.png') rgb(212, 212, 212);
}