header {
  width: 100%;
  background: url("../img/bg.jpg") #281a0c;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0; }
  header .contenedor {
    position: relative;
    height: 700px; }
    @media screen and (max-width: 728px) {
      header .contenedor {
        height: 400px; } }
    header .contenedor .menu {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      @media screen and (max-width: 800px) {
        header .contenedor .menu {
          justify-content: center; } }
      header .contenedor .menu a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        margin: 40px 20px;
        position: relative;
        padding: 5px; }
        header .contenedor .menu a:hover {
          text-decoration: underline; }
    header .contenedor .textos {
      width: 100%;
      color: #fff;
      position: absolute;
      top: 50%;
      margin-top: -70px; }
      @media screen and (max-width: 728px) {
        header .contenedor .textos {
          margin-top: -45px; } }
      header .contenedor .textos .nombre {
        font-family: "Open Sans";
        font-size: 50px; }
        @media screen and (max-width: 728px) {
          header .contenedor .textos .nombre {
            font-size: 35px; } }
      header .contenedor .textos span {
        font-weight: 300; }
      header .contenedor .textos h3 {
        margin-top: 20px;
        font-weight: 300;
        font-size: 30px;
        font-style: italic; }
        @media screen and (max-width: 728px) {
          header .contenedor .textos h3 {
            font-size: 20px; } }

.main .menu {
  padding-top: 570px;
  margin-bottom: 50px; }
  @media screen and (max-width: 728px) {
    .main .menu {
      padding-top: 350px; } }
  .main .menu .titulo {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px; }
  .main .menu .contenedor-menu {
    border: 1px solid #000;
    background: transparent;
    padding: 10px;
    overflow: hidden; }
    .main .menu .contenedor-menu .contenedor-menu2 {
      margin: auto;
      border: 1px solid #000;
      background: transparent;
      padding: 10px;
      overflow: hidden; }
      .main .menu .contenedor-menu .contenedor-menu2 article {
        width: 50%;
        float: left;
        padding: 20px; }
        .main .menu .contenedor-menu .contenedor-menu2 article .categoria {
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 40px;
          text-align: center; }
        .main .menu .contenedor-menu .contenedor-menu2 article .platillo {
          margin-bottom: 30px;
          padding-bottom: 20px;
          border-bottom: 4px dotted #000;
          overflow: hidden; }
          .main .menu .contenedor-menu .contenedor-menu2 article .platillo .nombre {
            font-weight: 700;
            float: left;
            width: 50%; }
          .main .menu .contenedor-menu .contenedor-menu2 article .platillo .precio {
            float: left;
            width: 50%;
            text-align: right; }
          .main .menu .contenedor-menu .contenedor-menu2 article .platillo .descripcion {
            margin-top: 25px;
            font-style: italic; }
      .main .menu .contenedor-menu .contenedor-menu2 article {
        width: 50%;
        float: left;
        padding: 20px; }
        .main .menu .contenedor-menu .contenedor-menu2 article .categoria {
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 40px;
          text-align: center; }
        .main .menu .contenedor-menu .contenedor-menu2 article .bebida {
          margin-bottom: 30px;
          padding-bottom: 20px;
          border-bottom: 4px dotted #000;
          overflow: hidden; }
          .main .menu .contenedor-menu .contenedor-menu2 article .bebida .nombre {
            font-weight: 700;
            float: left;
            width: 50%; }
          .main .menu .contenedor-menu .contenedor-menu2 article .bebida .precio {
            float: left;
            width: 50%;
            text-align: right; }
          .main .menu .contenedor-menu .contenedor-menu2 article .bebida .descripcion {
            margin-top: 25px;
            font-style: italic; }

/*# sourceMappingURL=menu.css.map */
